body {
  background-image: linear-gradient(to right, #f9ac07, #bf1278);
}

#Screensaver {
  position: relative;
}

#image {
  position: absolute;
  display: none;
  animation: fade 1s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
